nav{
    background-color: black;
    padding: 7pt 50pt;
}
a{
    color: white;
}
footer{
    background-color: black;
    padding: 5pt 20pt;
}
.section{
    display: flex;
}
#one{
    background-color: #8c8c8c;
}
.flex-1{
    flex: 1;
}
